<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  {{!-- Internal validation pages --}}
  <script src="/javascripts/login.js"></script>
  <script src="/javascripts/signup.js"></script>
  <script src="/javascripts/inquiry.js"></script>
  <title>{{title}}</title>
</head>