<div class="left_menu">
    <h3>Menu</h3>

    <div class="vertical-menu">
        <a href="/dashboard" class="{{#if dashboardMenu}} active {{/if}}">Home</a>
        <a href="/red-flags" class="{{#if redFlag}} active {{/if}}">Red Flag</a>
        <a href="/intervention" class="{{#if intervention}} active {{/if}}"> intervention</a>
        <a href="/edit-profile" class="{{#if editProfile}} active {{/if}}"> Edit Profile</a>
    </div>
</div>