<section>

    <div class="main_dash">
        {{> layout/leftmenu}}
        <div class="right_part">
            <div class="crt">
                <div class="left_headtxt">
                    <h4> Dashboard</h4>
                    <p>Welcome to dashboard <strong> {{fName}} </strong></p>
                </div>
            </div>
        </div>
    </div>
</section>