<main>
  <div class="login_wrap">
    <div class="account-form-div">
      <form action="" class="acccount-form" method="POST">
       
      </form>
      <div class="form-info">
          <p>Resistration successful</p>
        <p>Goto login page&nbsp;<span class="links"><a href="/">Login</a></span></p>
      </div>
    </div>
  </div>
</main>